body {
    font-family: Poppins, sans-serif;
    /* background-color: transparent; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    display: flex; 
    justify-content: center;
    min-height: 100vh; 
    padding: 2rem; 
    margin: 0;  */
}

.container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.306);
    width: 400px;
    height: 270px; /* Make container responsive */
    margin-left: 45px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* For close button positioning */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.265);
}

h1 {
    color: #696cff;
    text-align: left;
    font-size: 25px; /* Slightly larger heading */
    font-weight: 500;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

label {
    color: rgb(59, 59, 59);
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type="text"]:focus {
    border-color: #696cff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #696cff70;
  padding: 10px 20px;
}

button[type="submit"] {
    background-color: #696cff;
  border-color: #696cff;
  color: white;
  width: 97%;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    background-color: #7577fe; /* Darker shade on hover */
  color: white;
   background-color :0.5s ease; /* Smooth transition for hover effect */

}

.back-link {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #696cff;
    text-decoration: none;
    font-size: 15px;
}

.back-link:hover {
    text-decoration: underline;
    color: #696bfa;
}

.error-message {
    color: red;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}



thead tr th{
    color: #434343;
  }