/* button */
.button-container {
  display: flex;
  margin: 38px;
  margin-top: 2px;
  gap: 20px; /* Space between buttons */
  
}



.add-button {
  background-color: #8a8eff; 
  color: white;
  width: 310px; 
  border: none;
  padding: 20px 30px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.5s ease, background-color 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.265);
}

.expense-button {
  background-color: #8a8eff; 
  color: white;
  width: 310px; 
  border: none;
  padding: 20px 30px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.5s ease, background-color 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.265);
}

.button-container button:hover {
  background-color: #7577fe; /* Darker shade on hover */
  color: white;
  transform: translateY(-5px); /* Lift effect on hover */
  transition: transform 0.5s ease, background-color 0.5s ease; /* Smooth transition for hover effect */
} 





/* Popup Styling */
.popup {
  display: none; /* Initially hidden */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:rgba(255, 255, 255, 0.045);
  background-color: rgba(218, 217, 217, 0.197); 
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid transparent;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  position: relative; /* For close button positioning */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.265);
}

.close-button {
  color: #555;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #696cff;
  text-decoration: none;
  cursor: pointer;
}

/* Form Styling within Popup */
.popup-content h2 {
  margin-top: 0;
  color: #696cff; 
  text-align:left;
  font-size: 25px; 
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
}

.popup-content label {
  color:  rgb(59, 59, 59); 
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-content label:focus{
  border-color: #696cff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #696cff70;
  padding: 10px 20px;
}

.popup-content input[type="text"],
.popup-content input[type="number"],
.popup-content input[type="date"] {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
}

.popup-content button {
  background-color: #696cff;
  border-color: #696cff;
  color: white;
  width: 97%;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-content button:hover {
  background-color: #7577fe; /* Darker shade on hover */
  color: white;
   background-color :0.5s ease; /* Smooth transition for hover effect */
}   