
   .c-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 25px;
    justify-content: center;
    margin: 15px; 
  }



    
  .card {
    flex: 1 1 300px;
    background-color: #fff;
    flex-grow: 1;
    text-align: left;
    width: 350px; 
    padding: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    min-width: fit-content;
  }

  

  .card i {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .card h3 {
    margin: 10px 0;
    font-size: 25px;
    color: #696cff;
  }

  .card p.h4 {
    font-size: 20px;
    font-weight: bold;
    color: #434343;
  }

  /* Optional hover effect */
  .card:hover {
    transform: translateY(-5px);
  }

  /* Responsive Fix for Smaller Devices */
  @media (max-width: 450px) {
    .c-container {
      flex-direction: column;
    
    }

    .card {
      width: 100%;
      
      height: 10%;
    }
  }
