.r{
    margin: 35px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.265);
    border-radius: 10px;
    overflow: hidden;
}

.r h2 {
    padding: 15px 20px;
    margin-top: 0;
    color: #333;
    font-size: 25px;
    border-bottom: 1px solid #eee;
}


/* 
.category {
    width: 100%;
    max-width: 300px;
    margin: 35px;
    background: rgb(81, 28, 28);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(220, 23, 23, 0.265);
} */

canvas #categoryChart {
    max-width: 80%;
    max-height: 70%;
    padding: 25px;
}


